:host {
  display: grid;
  height: 100%;
  align-content: center;
  justify-content: center;
}

h1 {
  margin: 0;
  font-weight: 100;
  padding-block: 1rem;
}

form {
  min-width: 300px;
  display: grid;
  gap: 0.5rem;
}

small.error {
  height: 1rem;
  color: light-dark(#b00, #d00);
}

textarea {
  border: 1px solid var(--clr-gray-300);
  background-color: var(--clr-gray-100);
  resize: none;
  outline: transparent;
  padding: 0.5rem;
}
