:host {
  height: 100%;
  display: block;
  position: relative;
}

.name {
  font-weight: 100;
  font-size: 2.5rem;
}

.actions {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  a {
    text-decoration: none;
    color: inherit;
    border-radius: 100px;
    display: inline-block;
    background-color: var(--clr-gray-100);
    padding: 0.5rem 1rem;
    &:hover {
      background-color: var(--clr-gray-200);
    }
  }
  button {
    border-radius: 100px;
    &.delete {
      background-color: var(--clr-danger);
    }
  }
}

.header {
  padding: 1rem;
  border-bottom: 1px solid var(--clr-gray-100);
}

.icon-button {
  aspect-ratio: 1 / 1;
  height: 36px;
  font-size: 1rem;
  display: grid;
  place-content: center;
  padding: 0;
  border-radius: 100px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--clr-gray-100);
}

.menu-container {
  display: flex;
  flex-direction: column;
  button {
    text-align: start;
  }
  background-color: var(--clr-gray-100);
  overflow: hidden;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding-block: 0.5rem;
  button {
    border-radius: 0;
  }
}

.delete {
  color: var(--clr-danger);
}

.subheader {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
  background-color: var(--clr-gray-100);
  &:hover {
    background-color: var(--clr-gray-200);
  }
}

.divider {
  align-self: stretch;
  margin-block: 0.5rem;
  height: 1px;
  background-color: var(--clr-gray-300);
}

.loading-container {
  position: absolute;
  display: block;
  inset: 0;
  background-color: var(--clr-gray-50);
}

.loading-leave {
  animation: fade-out 150ms ease-in;
}

.error-container {
  display: grid;
  height: 100%;
  place-content: center;
  h1 {
    font-weight: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
