:host {
  display: flex;
  height: 64px;
  align-items: center;
  border-bottom: 1px solid var(--clr-gray-100);
}

nav {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
}

.nav-list {
  display: grid;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-gray-200);
  overflow: hidden;
  button {
    background-color: var(--clr-gray-50);
    border-radius: 0;
    &:hover {
      background-color: var(--clr-gray-100);
    }
    &.active {
      background-color: var(--clr-gray-200);
    }
  }
}

button {
  background-color: transparent;
  border-radius: 0;
}

button.icon-button {
  border-radius: 100vh;
  aspect-ratio: 1 / 1;
  padding: 0;
  margin: 0;
  display: grid;
  place-content: center;
  height: 36px;
}
