:host {
  display: grid;
  height: 100%;
  padding: 5rem 3rem;
  align-content: center;
  justify-content: center;
  position: relative;
}

h1 {
  font-weight: 100;
}

form {
  display: grid;
  min-width: 300px;
  gap: 0.5rem;
}

small.error {
  height: 1rem;
  color: var(--clr-danger);
}

textarea {
  border: 1px solid var(--clr-gray-300);
  background-color: var(--clr-gray-100);
  resize: none;
  outline: transparent;
  padding: 0.5rem;
}

.actions {
  display: flex;
  gap: 1rem;
  button {
    flex-grow: 1;
    &.delete {
      background-color: var(--clr-danger);
    }
  }
}

.product-enter {
  animation: fade-in 100ms ease-in both;
  animation-delay: 100ms;
}

.loading-container {
  position: absolute;
  background-color: var(--clr-gray-50);
  inset: 0;
  z-index: 100;
}

.loading-leave {
  animation: fade-out 100ms ease-in both;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
