<h1>Update Product</h1>
<form (submit)="onSubmit($event)">
  <div class="form-group">
    <label for="title" class="required">Title</label>
    <input id="title" type="text" [formField]="productForm.title" />
  </div>
  <small class="error">
    @if (productForm.title().touched() && productForm.title().invalid()) {
      {{ productForm.title().errors()?.[0]?.message }}
    }
  </small>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      id="description"
      type="text"
      [formField]="productForm.description"
      [rows]="5"
    ></textarea>
  </div>
  <small class="error">
    @if (productForm.description().touched() && productForm.description().invalid()) {
      {{ productForm.description().errors()?.[0]?.message }}
    }
  </small>
  <div class="actions">
    <button
      type="submit"
      [disabled]="productForm().invalid() || unchanged() || product.isLoading()"
    >
      Update
    </button>
    <button type="button" class="delete" (click)="onDelete()">Delete</button>
  </div>
</form>
