:host {
  display: grid;
  height: 100%;
  place-content: center;
  margin-inline: auto;
  padding: 1rem;
}

h1 {
  font-weight: 100;
}

form {
  display: grid;
  min-width: 300px;
  gap: 0.5rem;
}

small.error {
  height: 1rem;
  color: light-dark(#b00, #d00);
}
