<div class="menu-bar">
  <a routerLink="/contacts"><h1>Contacts</h1></a>
</div>
<div class="options-list">
  <h3>Actions</h3>
  <ul>
    <li>
      <a (click)="sidebarPortal.close()" routerLink="/contacts/new" routerLinkActive="active">Create</a>
    </li>
  </ul>
</div>

<div class="contacts">
  @if (contactsStore.contactList()) {
    <h3 animate.leave="item-leave">Contacts</h3>

    <div class="contacts-list" #contactList>
      <ul>
        @for (item of contactsStore.contactList(); track item.id; let i = $index) {
          @if(i === 0 || contactsStore.contactList()[i].name[0].toUpperCase() !== contactsStore.contactList()[i - 1].name[0].toUpperCase()) {
            <div class="alphabet-label"><h4>{{ item.name[0].toUpperCase() }}</h4></div>
          }
          <a [id]="'contact-' + item.id"></a>
          <li>
          <!-- <li animate.enter="item-enter" animate.leave="item-leave" [style.--delay]="i % contactsStore.limit() * 25 + 'ms'"> -->
            <a (click)="sidebarPortal.close()" [routerLink]="['/contacts', item.id]" routerLinkActive="active">{{ item.name }}</a>
          </li>
        }
        <div #sentinel></div>
      </ul>
    </div>
  }
</div>

